# Instance
INSTANCE_NAME=notesnook-instance
NOTESNOOK_API_SECRET=
DISABLE_SIGNUPS=false

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=

# Public URLs
AUTH_SERVER_PUBLIC_URL=https://note.domain.com/auth
NOTESNOOK_APP_PUBLIC_URL=https://note.domain.com
ATTACHMENTS_SERVER_PUBLIC_URL=https://note.domain.com/s3
NOTESNOOK_SYNC_PUBLIC_URL=https://note.domain.com/sync
SSE_SERVER_PUBLIC_URL=https://note.domain.com/sse
# Monograph server URL
MONOGRAPH_PUBLIC_URL=https://monograph-note.domain.com

# MinIO
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=
